name: Build

on: [workflow_dispatch, release]
  

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        os: [macos-10.15]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: bash
      working-directory: ${{runner.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source 
      # and build directories, but this is only available with CMake 3.13 and higher.  
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE
    
    - name: Upload VST3
      uses: actions/upload-artifact@v2.2.1
      with:
        name: Crypt_VST3_${{ matrix.os }}
        path: ${{runner.workspace}}/build/CryptSynthPlugin_artefacts/Release/VST3

    - name: Upload AU
      uses: actions/upload-artifact@v2.2.1
      with:
        name: Crypt_AU_${{ matrix.os }}
        path: ${{runner.workspace}}/build/CryptSynthPlugin_artefacts/Release/AU

    - name: Upload Standalone
      uses: actions/upload-artifact@v2.2.1
      with:
        name: Crypt_Standalone_${{ matrix.os }}
        path: ${{runner.workspace}}/build/CryptSynthPlugin_artefacts/Release/Standalone
